<ul class="navbar">
    <li style="flex-grow: 1;"><h1 style="color: red;" class="logo">Netflix</h1></li>
    <li style="flex-grow: 1;" class="account"><a href="/">Home</a> </li>
    <li style="flex-grow: 1;" class="account"><a href="/mylist">MyList</a> </li>
    <li style="flex-grow: 2;">
        <form action="/movies/search" method="get" style="display: flex;">
            <input type="search" name="search" id="search" autocomplete="off"><button type="submit"><i class="fas fa-search search-button"></i></button>
        </form>
    </li>
    <li style="flex-grow: 1.25;" class="account">
        <% if (loggedIn) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/signUp">SignUp</a>
        <% } %> 
         
    </li>
    <!-- improve the night mode -->
    <li style="flex-grow: 0.3;" class="night-mode"><input type="checkbox" name="checker" id="checker"></li>
</ul>
<!-- add actual movies in the slider -->

</div>