<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="login-title">
        <h1>Login</h1>
    </div>
    <div class="login-form">
        <form action="/profile" method="POST" id="login">
            <div class="name form-element">
                <label for="username">Username
                    <br>
                    <input type="text" name="username" id="username" autocomplete="off" placeholder="Enter Username">
                </label>
            </div>
            <div class="password form-element">
                <label for="password">Password
                    <br>
                    <input type="password" name="password" id="password" autocomplete="off" placeholder="Enter Password"> 
                </label>
            </div>
            <input type="text" name="type" id="type" autocomplete="off" value="login">
            <button type="submit">Login</button>
            <div class="goto-register">
                <h3 class = "registerLink">Do not have an account? SignUp here <a href="/SignUp">SignUp</a></h3>
            </div>
        </form>
        
    </div>
</body>
</html>